# Week 2 Part 1 Assignments

1. Understand number and answer the following question.
  1. Assign to 10 and 2 on two variables 'a' and 'b' and perform addition, subtraction, multiplication, division and modulo operation. You should properly print answer during each operation.

In [0]:
a=10
b=2
a+b
a-b
a*b
a/b
a%b

2. Write different rules for naming a variable/identifier.

In [0]:
All variable names must begin with a letter of the alphabet or an Underscore( _ ).  
It should contain letters or digits.
Special characters are not allowed.

3.  Understand string and answer the following question.   
 1. Assign 2 string on two variable and perform concatenation.
 2. Assign a string in a variable and print the reverse of the string.
 3. Assign 'lower' to a variable and convert it to upper case.
 4. Assign 'school of ai' into a variable and split it into individual words
 5. Assign 'school of ai' into a variable and find the starting index  of word 'ai'

In [0]:
a="Hi"
b=" guys"
a+b

In [0]:
c="Hello"
d=c[::-1]
print(d)

In [0]:
s="lower"
s.upper()

In [0]:
t="school of ai"
t.split()

In [0]:
t="school of ai"
t.find("ai")

4.  Understand list and answer the following question.   
  1. Create a list with values 10,20,30,40 and find its length and sum
  2. Create a list with values 11,22,55. Pop the last element and store it in a variable called 'x'
  3. Create a list with values 10,20,40 and insert 30 in index 2.
  4. Create a list with values 'a','b','c' and remove 'b' from list
  5. Create a list with values 5,'a','b','c',1,5. select values from index 1 to 3 and store it in a variable called 'alpha_list' using slicing.

In [0]:
a=[10,20,30,40]
len(a)
sum(a)

In [0]:
b=[11,22,55]
x=b.pop(2)

In [0]:
c=[10,20,40]
c.insert(2,30)

In [0]:
d=['a','b','c']
d.pop(1)

In [0]:
e=[5,'a','b','c',1]

In [0]:
alpha_list=e[1:4]

5.  Understand dictionary and answer the following question.   
  1. Create a dict with key '1' and value 'odd', key '2' and value 'even'
  2. Create a dict with key '1' and value 'odd', key '2' and value 'even' .Then replace 'even' of key 2 with 'EVEN'

In [0]:
d={1:'odd',2:'even'}

In [0]:
d={1:'odd',2:'even'}
d[2]='EVEN'